body{
    /* background-color: #efd5b6; */
    background-color: #e5cbba;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    position:fixed;
    width: 100%;
    top:0;
    right:0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding: 20px 10%;

}
h1 span{
    font-size: 35px;
    color:black ;
    text-shadow: #f77170;
    }
header h1{
    color:#b34647;
    font-size: 30px;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
}
.minu{
    display:flex;
}
.minu a{
    color: black;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    margin:40px 30px;

}
.minu a:hover{
    color: #b34647;
}
.icons img{
margin: 5px 10px;
}
.icons img:hover{
    transform:scale(1.2);
}
section{
    display:flex;
}
section div{
    display: inline-block;
    padding: 10px;
    margin:20px;
}
.content{
    width:480px;
    height: 200px;
    margin-top: 280px;
    margin-left:100px;
    
}
section .content h1{
    color: #b34647;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
section .content h2{
  padding:5px ;
  margin-left:50px;
  font-style: italic;
}
section .bg{
    height:650px;
    width: 650px;
  /* background-image: url(test1.jpg); */
  background-image: url(test1-removebg-preview.png);

  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
section .content .main{
    font-size: 20px;
    color: black;
    font-weight: 500;
    margin: 100px;
   padding: 5px;
   border: 2px solid black;
 
}
section .content a:hover{
    background-color:white;
}
.makup{
    display:grid;
    justify-content: space-around;
    margin:70px;
}
.makup .a,
.b,
.c,
.d,
.e,
.f,
.g,
.h{
  width: 250px;;
  height: 270px;
  margin-top:15px;
  margin-bottom: 15px;
  margin-left: 2px;
  margin-right:2px;
  background-color:#e5cbba;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
  border-radius: 6px;
}
.makup .a:hover,
.b:hover,
.c:hover,
.d:hover,
.e:hover,
.f:hover,
.g:hover,
.h:hover{
    transition: transform 0.2s ease 0s;
    transform: scale(1.03);
}
.makup .a{
    grid-column-start:1 ;
    grid-column-end:2 ;
    grid-row-start:1 ;
    grid-row-end: 2;
}
.makup .b{
    grid-column-start:1 ;
    grid-column-end:2 ;
    grid-row-start: 2;
    grid-row-end: 3;

}
.makup .c{
    grid-column-start:2 ;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:2 ;
}
.makup .d{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2 ;
    grid-row-end:3 ;
}
.makup .e{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.makup .f{
    grid-column-start:3 ;
    grid-column-end:4 ;
    grid-row-start:2 ;
    grid-row-end: 3;
}
.makup .g{
    grid-column-start:4 ;
    grid-column-end:5;
    grid-row-start:1 ;
    grid-row-end: 2;
}
.makup .h{
    grid-column-start:4 ;
    grid-column-end:5 ;
    grid-row-start:2;
    grid-row-end: 3;
}
.makup .a .aa{
    width:220px;
    height:200px;
    background-image: url(brosh.png);
    background-repeat: no-repeat;
}
.makup .b .bb{
    width:220px;
    height:200px;
    background-image: url(stick.png);
    background-repeat: no-repeat;
}
.makup .c .cc{
    width:200px;
    height:200px;
    background-image: url(eyeliner.png);
    background-repeat: no-repeat;
}
.makup .d .dd{
    width:200px;
    height:200px;
    background-image: url(shad.png);
    background-repeat: no-repeat;
}
.makup .e .ee{
    width:200px;
    height:200px;
    background-image: url(mascar.png);
    background-repeat: no-repeat;
}
.makup .f .ff{
    width:200px;
    height:200px;
    background-image: url(nail.png);
    background-repeat: no-repeat;
}
.makup .g .gg{
    width:200px;
    height:200px;
    background-image: url(concealer.png);
    background-repeat: no-repeat;
}
.makup .h .hh{
    width:200px;
    height:200px;
    background-image: url(lipglass.png);
    background-repeat: no-repeat;
}
.product{
    font-size:20px ;
    font-weight: 600;
    padding: 3px;
    color: #b34647;
}
.shop{
    font:18px bold;
}
.shop:hover{
    font-weight: bold;
    color:white;
    cursor: pointer;
}
.scin{
    display:grid;
    justify-content: space-around;
    margin:70px;
}
.scin .scin1,
.scin2,
.scin3{
    width:350px;
    height:500px;
    background-color:#e5cbba;
    margin-top:15px;
    margin-bottom: 15px;
    margin-left: 2px;
    margin-right:2px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
    border-radius: 10px;
}
.scin .scin1{
    grid-column-start:1 ;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end:2;

}
.scin .scin2{
    grid-column-start:2 ;
    grid-column-end:3 ;
    grid-row-start:1 ;
    grid-row-end:2;
    
}
.scin .scin3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:1 ;
    grid-row-end:2;
    
}
.scin .scin1 .mg1{
    width:200px;
    height:300px;
    background-image: url(bnt1.png);
}
.scin .scin2 .mg2{
    width:200px;
    height:300px;
    background-image: url(bnt2.png);
}
.scin .scin3 .mg3{
    width:200px;
    height:300px;
    background-image: url(bnt3.png);
}
.scin .scin1:hover,
.scin2:hover,
.scin3:hover{
    transition: 0.5s;
    transform: scale(1.02);
}
.scin .scin1 p,
.scin2 p,
.scin3 p{
    margin:10px;
    padding: 5px;
    font-size: 18px;
    font-weight: 400;
}
.scin a{
    font-size: 14px;
    color: black;
    font-weight: 500;
    padding: 3px;
    margin-top:7px;
    margin-bottom: 4px;
    border: 2px solid black;
}
.scin a:hover{
    background-color:white;
}
footer{
    background-color: #111;
}
.contyain{
    width:100%;
    padding: 70px 30px 20px;
}
.social-icons{
    display:flex;
    justify-content: center;
}
.social-icons a{
    padding:10px;
    background-color: white;
    margin:10px;
    border-radius: 50%;

}
.social-icons a i{
    font-size: 32px;
    color: black;
    opacity: 0.9;
}
.social-icons a:hover{
    background-color: #111;
    transition:0.5s
}
.social-icons a i:hover{
    color:white;
    transition:0.5s;
}
.footer-nav{
    margin:30px 0;
}
.footer-nav ul{
    display:flex;
    justify-content: center;
}
.footer-nav ul li a{
    color:white;
    margin:20px;
    font-size: 25px;
    opacity:0.7;
    transition:0.5s;
}
.footer-nav ul li a:hover{
   opacity: 1;
}
.footer-bottom{
    background-color: #000;
    padding:20px;
    text-align: center;
}
.footer-bottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}